* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ecedf3;
  margin: 0;
}

h1 {
  color: #172b4d;
}

h2 {
  color: #172b4d;
}

.connect {
  color: #7f8cff;
  text-decoration: none;
}

.big-btn {
  text-decoration: none;
  color: #6070ff;
  border-radius: 10px;
  border: #6070ff solid 1px;
  text-align: center;
  padding: 12px;
  font-size: 17px;
}

.big-btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.big-btn:active {
  background-color: #2230d2;
  color: #fff;
}

/* links don't have a disabled property so this class is aded dinamically to disable any button */
.disabled-btn {
  pointer-events: none;
  background-color: #fff;
  color: lightgrey;
  border: lightgrey solid 1px;
}

.big-header {
  margin: 0;
  font-size: 40px;
}

@media screen and (min-width: 375px) {
  #main-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 24px 0 24px;
    height: 92px;
    align-items: flex-end;
  }

  .work-item h2 {
    font-size: 32px;
    margin: 12px 0 12px 0;
  }

  #main-header h2 {
    color: #6070f7;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 0;
    font-size: 18px;
  }

  #main-header img {
    height: 40px;
  }

  #headline {
    background:
      url('assets/Ellipse 3.png') top 60.24px left 323px no-repeat,
      url('assets/Ellipse 4.png') bottom 40.9px right 118px no-repeat,
      url('assets/Ellipse 5.png') top 63.81px left 125px no-repeat,
      url('assets/Ellipse 8.png') top 18px left 214px no-repeat,
      url('assets/Ellipse 11.png') top 36.64px right 351.4px no-repeat,
      url('assets/Ellipse 12.png') bottom 171.31px left 317.67px no-repeat,
      url('assets/Ellipse 13.png') bottom 148.8px right 33.24px no-repeat,
      url('assets/Ellipse 14.png') top 223px right 66px no-repeat,
      url('assets/Ellipse 15.png') bottom 36px left 53px no-repeat,
      url('assets/Rectangle 4.png') top 26px left 294px  no-repeat,
      url('assets/Rectangle 5.png') bottom 26.85px left 187px  no-repeat,
      url('assets/Rectangle 6.png') top 12px right 366.27px no-repeat,
      url('assets/Rectangle 7.png') top 56px left 127.18px no-repeat,
      rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    color: #172b4d;
    padding: 114px 24px 114px 24px;
    border-radius: 0 0 0 90px;
    margin-bottom: 114px;
  }

  .work-item p {
    font-size: 15px;
  }

  #headline p {
    font-weight: normal;
    font-size: 16px;
    color: #344563;
  }

  .social-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 0;
  }

  .social-links a {
    text-decoration: none;
  }

  #works {
    display: grid;
    row-gap: 88px;
  }

  .work-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin-left: 24px;
    margin-right: 24px;
    border: 1.5px solid;
    border-color: #dfe1e6;
    padding: 16px 16px 40px 16px;
  }

  .work-item .due-time {
    list-style-image: url('Counter.png');
    font-weight: 600;
    color: #7a869a;
    display: flex;
    padding: 0;
    font-size: 13px;
  }

  .due-time li {
    margin-right: 30px;
  }

  .due-time .company-name {
    list-style-type: none;
    color: #344563;
    text-transform: uppercase;
  }

  .work-item .tech-tags {
    display: flex;
    list-style-type: none;
    margin: 12px 0;
    padding: 0;
    margin-bottom: 36px;
  }

  .work-item .tech-tags a {
    background: #ebebff;
    padding: 4px 12px;
    border-radius: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: #6070ff;
    font-size: 12px;
  }

  #about-myself {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 114px;
    padding: 114px 24px 114px 24px;
    border-radius: 0 90px 0 0;
  }

  #about-myself p {
    font-weight: normal;
    font-size: 16px;
    color: #344563;
  }

  #about-myself #tech-list {
    margin-top: 60px;
    list-style-type: none;
    padding: 0;
  }

  ul#tech-list li {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    padding: 24px 0;
    margin: 0;
  }

  ul#tech-list li a {
    color: #acb7c3;
    text-decoration: none;
  }

  ul#tech-list li ul {
    list-style-type: none;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  ul#tech-list li div {
    display: flex;
    justify-content: space-between;
  }

  ul#tech-list li ul li {
    background: #ebebff;
    display: flex;
    padding: 9px 12px;
    border-radius: 10px;
    align-items: center;
    color: #253858;
    font-size: 15px;
  }

  ul#tech-list li ul li img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }

  .tech-list-closed {
    border-bottom: 1px solid #dfe1e6;
    display: flex;
    justify-content: space-between;
  }

  .contact-section {
    background: #6070ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 24px;
  }

  .contact-section h2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .Name {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 5;
    color: #172b4d;
    padding: 2%;
    height: 48px;
    width: 100%;
  }

  .message {
	background: #fff;
	border: 1px solid #cfd8dc;
	border-radius: 8px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #b3bac5;
	padding: 2%;
	width: 100%;
  }
}
