:root {
  --link-color: #6070ff;
  --text-color: #172b4d;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ecedf3;
  margin: 0;
  width: fit-content;
}

h1 {
  color: #172b4d;
  animation-name: slidein;
  animation-duration: 1s;
}

@keyframes slidein {
  from {
    transform: translateX(200px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(10px);
  }

  to {
    transform: translateX(0);
  }
}

h2 {
  color: #172b4d;
}

main {
  width: fit-content;
}

.connect {
  color: #7f8cff;
  text-decoration: none;
  height: 2.4em;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.big-btn {
  text-decoration: none;
  color: var(--link-color);
  border-radius: 1em;
  border: var(--link-color) solid 0.1em;
  text-align: center;
  padding: 1em;
  font-size: 1.7rem;
  font-weight: 500;
  transition: transform 0.3s ease 0s;
}

.big-btn:hover {
  background-color: var(--link-color);
  color: #fff;
  transform: translateY(-10px);
}

.big-btn:active {
  background-color: #2230d2;
  color: #fff;
}

/* links don't have a disabled property so this class is aded dinamically to disable any button */
.disabled-btn {
  pointer-events: none;
  background-color: #fff;
  color: lightgrey;
  border: lightgrey solid 1px;
}

.big-header {
  margin: 0;
  font-size: 4rem;
}

#main-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 2.4em;
  align-items: center;
  width: 100%;
}

.work-item h2 {
  font-size: 3.25rem;
  margin: 1.2em 0 1.2em 0;
}

.contact-section h2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  color: white;
  font-size: 4rem;
  margin-top: 2.5em;
  margin-bottom: 0;
}

.popup h2 {
  color: #091e42;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0;
}

#main-header h2 {
  color: #6070f7;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1.4em;
  padding-left: 0;
  font-size: 1.8rem;
}

.popup img {
  min-height: auto;
  height: 100%;
  margin-bottom: 50px;
  width: 100%;
}

.work-item img {
  max-width: 100%;
}

#main-header img {
  height: 4em;
}

#headline {
  background:
    url('assets/header-shapes mobile.png') no-repeat,
    rgb(255, 255, 255);
  background-size: 100% 61.7em;
  display: flex;
  flex-direction: column;
  color: #172b4d;
  padding: 8.9em 2.4em 11.4em 2.4em;
  border-radius: 0 0 0 9em;
  margin-bottom: 11.4em;
}

.work-item p {
  font-size: 1.5em;
  color: #344563;
}

.contact-section p {
  font-size: 2rem;
  color: #fff;
}

.popup .text p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

#headline p {
  font-weight: normal;
  font-size: 1.6rem;
  color: #344563;
}

.social-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding-left: 0;
}

.social-links a {
  text-decoration: none;
}

#works {
  display: grid;
  row-gap: 8.8em;
}

.work-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 2.5em;
  margin-left: 2.4em;
  margin-right: 2.4em;
  border: 1.5px solid;
  border-color: #dfe1e6;
  padding: 1.6em 1.6em 4em 1.6em;
}

.work-item .due-time {
  font-weight: 600;
  color: #7a869a;
  display: flex;
  padding: 0;
  font-size: 1.3rem;
}

.due-time li {
  margin-right: 3em;
}

.due-time .company-name {
  list-style-type: none;
  color: #344563;
  text-transform: uppercase;
}

.desktop-nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: white;
}

.pop-header a {
  color: #67798e;
  text-decoration: none;
  font-size: 24px;
}

.work-item .tech-tags {
  display: flex;
  list-style-type: none;
  margin: 1.2em 0;
  padding: 0;
  margin-bottom: 3.6em;
}

.work-item .tech-tags a {
  background: #ebebff;
  padding: 0.4em 1.2em;
  border-radius: 0.8em;
  margin-right: 0.8em;
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.2rem;
}

#about-myself {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 11.4em;
  padding: 11.4em 2.4em 11.4em 2.4em;
  border-radius: 0 9em 0 0;
}

#about-myself p {
  font-weight: normal;
  font-size: 1.6rem;
  color: #344563;
}

#about-myself #tech-list {
  margin-top: 3.6em;
  list-style-type: none;
  padding: 0;
}

div.resume-btn {
  margin-top: 2.4em;
}

ul#tech-list li {
  color: #000;
  font-weight: 500;
  font-size: 2rem;
  padding: 1.1em 0;
  margin: 0;
}

.popup .tech-tags a {
  background: #ebebff;
  padding: 0.4em 1.2em;
  border-radius: 0.8em;
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.2rem;
  margin: 0;
}

ul#tech-list li a {
  color: #acb7c3;
  text-decoration: none;
}

ul#tech-list li ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0;
}

ul#tech-list li div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2em;
}

ul#tech-list li ul li {
  background: #f7f7f9;
  display: flex;
  padding: 0.9em 1.2em;
  border-radius: 8px;
  align-items: center;
  color: #253858;
  font-size: 1.5rem;
}

ul#tech-list li ul li img {
  width: 3.2em;
  height: 3.2em;
  margin-right: 1.6em;
}

.tech-list-closed {
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  justify-content: space-between;
}

.contact-section {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.contact-wrapper {
  padding: 0 2.4em 4.5em 2.4em;
  margin-top: 6.2em;
  border-radius: 9em 0 0 0;
  background:
    url("assets/contact-form-shapes-mobile.png")
    no-repeat,
    var(--link-color);
  background-size: 100% 70.917em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contact-form .submit {
  border-radius: 1.2em;
  padding: 1.2em;
  color: var(--link-color);
  background: #fff;
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  width: 8.8em;
}

.contact-form .submit:hover {
  background-color: var(--link-color);
  color: #fff;
}

.contact-form .submit:active {
  background-color: #2230d2;
  color: #fff;
}

/* class to add through js to disable the button" */
.contact-form .disabled-submit {
  pointer-events: none;
  background-color: #fff;
  color: lightgrey;
  border: lightgrey solid 1px;
}

.input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 0.8em;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 5;
  color: #172b4d;
  padding: 2%;
  height: 3.1em;
  width: 100%;
}

.message {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 0.8em;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4em;
  color: #b3bac5;
  padding: 2%;
  width: 100%;
  height: 11.3em;
}

header {
  position: fixed;
}

.desktop-nav {
  list-style: none;
  position: fixed;
  left: -100%;
  top: -20px;
  padding-top: 90px;
  flex-direction: column;
  background-color: #6070f7;
  width: 100%;
  height: 110%;
  text-align: center;
  transition: 0.3s;
  z-index: 4;
}

.desktop-nav.active {
  left: 0;
  background-color: rgba(96, 112, 247, 0.8);
  backdrop-filter: blur(8px);
}

.desktop-work-items {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
  z-index: 4;
}

.breadcrumb {
  z-index: 4;
}

.breadcrumb.active .bar:nth-child(2) {
  opacity: 0.5;
}

.breadcrumb.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.breadcrumb.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.inactive {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/**  mobile  popup */
.splash {
  position: fixed;
  backdrop-filter: blur(4px);
  background-color: rgba(193, 199, 208, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.splash ul.due-time {
  display: flex;
  padding-left: 0;
}

.popup {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-basis: 100%;
  display: flex;
  padding: 2.4em 2.4em 6.6em  2.4em;
  margin: 2% auto;
  border-radius: 30px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  background-color: white;
  height: 94%;
  overflow-y: auto;
  flex-direction: column;
}

.popup .pop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup .work-item-list {
  background: white;
  border-radius: 40px;
  padding: 12px;
}

.popup .popup-image {
  max-height: 60%;
  padding-bottom: 4em;
}

.popup .info {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.popup .live-icon {
  min-width: 0;
  width: 18px;
  height: 18px;
  margin: 0 0 0 12px;
  padding-top: 5px;
}

.popup .tech-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  column-gap: 14px;
  border-bottom: solid 0.1em #ebecf0;
  margin-left: 12px;
  padding-left: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.popup .link-tags {
  margin-left: 12px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 14px;
}

.popup .text {
  flex-basis: 90%;
}

.popup aside span {
  padding: 0 12px;
  display: flex;
  column-gap: 10px;
}

.popup .big-btn {
  padding: 1.4em 2.2em;
  font-size: 15px;
  border-radius: 0.5em;
}

.popup .due-time {
  color: #7a869a;
  font-weight: 500;
  font-size: 1.5rem;
}

.popup .company-name {
  color: #344563;
  font-weight: 600;
}

.popupstate {
  overflow: hidden;
  display: flex;
}

.navlinkpopupstate {
  position: inherit;
}

@media only screen and (min-width: 768px) {
  ul#tech-list li ul li {
    align-items: flex-start;
  }

  .breadcrumb {
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 0;
    align-items: center;
    padding-right: 20px;
    gap: 20px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    opacity: 100%;
  }

  .pop-header a {
    color: #67798e;
    text-decoration: none;
    font-size: 24px;
  }

  .desktop-nav li a {
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
    transition-timing-function: ease-in;
    font-size: 15px;
  }

  .popup .tech-tags a {
    background: #ebebff;
    padding: 0.4em 1.2em;
    border-radius: 0.8em;
    text-decoration: none;
    color: var(--link-color);
    font-size: 1.2rem;
    margin: 0;
  }

  .popup .link-tags a {
    padding: 0.4em 1.2em;
  }

  .desktop-nav li a:hover {
    background-color: var(--link-color);
    color: #fff;
  }

  #headline {
    background:
      url('assets/header.png') no-repeat,
      rgb(255, 255, 255);
    background-size: 98% 90%;
    width: auto;
    padding-left: 26em;
    padding-right: 26em;
    margin-bottom: 16em;
  }

  #headline h1 {
    font-size: 60px;
  }

  .work-item p {
    font-size: 1.6rem;
  }

  .popup .text p {
    font-size: 1.6rem;
    margin: 0;
  }

  #headline p {
    font-size: 20px;
  }

  .work-item-list h2 {
    margin: 0.5em 0 0 0;
  }

  .popup h2 {
    color: #091e42;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
  }

  #main-header h2 {
    min-width: 70px;
    max-height: 20px;
    z-index: 5;
    display: flex;
    list-style: none;
    gap: 1.2em;
    font-weight: 500;
    font-size: 1.5rem;
    flex-basis: 40%;
  }

  .work-item {
    margin-left: 16em;
    margin-right: 16em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 2.4em;
  }

  .work-item .due-time {
    font-size: 1.8rem;
  }

  .work-item img {
    flex-basis: 55%;
  }

  .work-item-list {
    display: flex;
    flex-direction: column;
  }

  .work-item-odd img {
    order: 1;
  }

  #about-myself {
    padding-left: 16em;
    padding-right: 16em;
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  #tech-list {
    flex-grow: 1;
  }

  #tech-list .selected {
    display: flex;
    flex-direction: column;
  }

  #tech-list .selected ul {
    display: flex;
    flex-direction: row;
  }

  #tech-list .selected ul li {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
  }

  .popup img {
    min-height: auto;
    height: 100%;
    margin-bottom: 50px;
    width: 100%;
  }

  #tech-list .selected ul li img {
    margin-bottom: 12px;
  }

  .about-left {
    flex-basis: 40%;
  }

  .contact-wrapper {
    background:
      url("assets/contact-form background.png")
      no-repeat,
      var(--link-color);
    background-size: 100% 70.917em;
    padding: 0 45.6em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 12.7em;
  }

  .wrapper-content {
    width: 53em;
  }

  .submit {
    align-self: center;
    padding: 1em;
  }

  .mobile-work-item {
    display: none;
  }

  /* popup styles */

  .splash {
    position: fixed;
    backdrop-filter: blur(4px);
    background-color: rgba(193, 199, 208, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .splash ul.due-time {
    display: flex;
    padding-left: 0;
  }

  .popup {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    display: flex;
    padding: 2.4em 2.4em 6.6em  2.4em;
    margin: 2% auto;
    border-radius: 30px;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    background-color: white;
    height: 94%;
    overflow-y: auto;
  }

  .popup .pop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .popup .work-item-list {
    background: white;
    border-radius: 40px;
    padding: 12px;
  }

  .popup .popup-image {
    max-height: 50%;
    padding-bottom: 4em;
  }

  .popup .info {
    display: flex;
    flex-direction: row;
  }

  .popup .live-icon {
    min-width: 0;
    width: 18px;
    height: 18px;
    margin: 0 0 0 12px;
    padding-top: 5px;
  }

  .popup .tech-tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;
    border-bottom: solid 0.1em #ebecf0;
    margin-left: 12px;
    padding-left: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .popup .link-tags {
    margin-left: 12px;
  }

  .popup .text {
    flex-basis: 90%;
  }
}

.error {
  background-color: white;
  color: red;
}
